@inherits DatatableModel<TItem>
@typeparam TItem
<div>
    <table class="table">
        <thead>
            <tr>
                @foreach (var column in Columns)
                {
                    <th>@column.Name()</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in CurrentPage)
            {
                <tr>
                    @foreach (var column in Columns)
                    {
                        <td>@column.Content(item)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div>Displayed items: @CurrentPage.Count() (Total: @Items.Count())</div>
<div><span onclick="@Previous">Previous</span> @PageNumber <span onclick="@Next">Next</span></div>
