@inherits DatatableModel<TItem>
@typeparam TItem
<div>
    Search <input type="text" onchange="@OnSearchCriteraChange" />
    <table class="table">
        <thead>
            <tr>
                @foreach (var column in Columns)
                {
                    <th onclick="@(() => OnColumnClicked(column))">@column.Name()</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in CurrentPage)
            {
                <tr onclick="@(() => OnLineClick?.Invoke(item))">
                    @foreach (var column in Columns)
                    {
                        <td>@column.Content(item)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div>Displayed items: @CurrentPage.Count() (Total: @Items.Count())</div>
<div>@PageNumber</div>
<Pagination PageNumber="@PageNumber" PageSize="@PageSize" TotalItems="Items.Count()" OnPageNumberChanged="@OnPageNumberChanged"/>
